# Ignore virtual environments
venv/
.env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore migrations (optional)
*/migrations/

# Ignore big tools and VM images
Tools_box/
*.vmdk
*.vmx
*.vmxf
*.iso
*.ova
*.zip
*.rar

# Ignore system files
.DS_Store
Thumbs.db
"*.zip" 
"*.rar" 
"*.mp4" 
"*.exe" 
